<!-- Jumbotron -->
{{!-- {{> jumbotron}} --}}
<!-- Jumbotron -->
<div class="login">
  <form class="signup-form">
    <h4 class="">Sign Up!</h4>

    <label for="username-signup">Username</label>
    <input type="text" class="form-text username-signup" id="username-signup">

    <label for="password-login">Email</label>
    <input type="email" class="form-text email-signup" id="email-signup">

    <label for="password-signup">Password</label>
    <input type="password" class="form-text password-signup" id="password-signup">

    <button type="submit" class="signup-form-button">Sign Up!</button>
  </form>
</div>
<script src="/javascript/signup.js"></script>
