<div class="post">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="form-elements">
      <label for="post-title">title</label>
      <input type="text" id="post-title" name="post-title" class="form-title" placeholder="insert blog title here"/>
    </div>
    <div class="form-elements">
      <label for="post-content">content</label>
      <textarea rows="10" wrap="soft" id="post-content" name="post-content" class="post-content" placeholder="insert blog content here"></textarea>
    </div>
    <div>
      {{!-- <button type="submit" class="btn">create</button> --}}
      <a href="javascript:{}" id="new-post" onclick="newFormHandler()" class="login-form-button m-2">create post</a>
    </div>
  </form>
</div>

<script src="/javascript/add-post.js"></script>