

{{#if posts.length}}
{{posts.post_content}}
<section>
  <h2 style="margin-bottom: .15em;">Your Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li class="card">
      {{!-- {{> post-info post}} --}}
      {{> my-post-info post}}
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
  <h6 class="pb-4 has-text-centered is-italic">you do not currently have any posts</h6>
{{/if}}

<script src="/javascript/add-post.js"></script>