
<div class="login">
  <form id='login-form' class="login-form">
    <div class="login">
      <h4 class="">Sign In</h4>
      <label for="email-login">Email</label>
      <input type="text" class="form-text email-login" id="email-login" required/>


      <label for="password-login">Password</label>
      <input type="password" class="form-text password-login" id="password-login">
      <div>
        <a href="javascript:{}" id="login-button" onclick="loginFormHandler()" class="login-form-button m-2">Log In</a>
        <a href="/signup" class="login-form-button m-2">Sign Up!</a>          
      </div>
    </div>
    
  </form>

  
</div>
<script src="/javascript/login.js"></script>
