
<div class="login">
  <form class="signup-form">
    <h4 class="">Sign Up!</h4>

    <label for="username-signup">Username</label>
    <input type="text" class="form-text username-signup" id="username-signup">

    <label for="password-login">Email</label>
    <input type="email" class="form-text email-signup" id="email-signup">

    <label for="password-signup">Password</label>
    <input type="password" class="form-text password-signup" id="password-signup">

    <label for="twitter-signup">Twitter</label>
    <input type="twitter" class="form-text twitter-signup" id="twitter-signup">

    <label for="github-signup">Github</label>
    <input type="github" class="form-text github-signup" id="github-signup">

    <div>
      {{!-- <button type="submit" class="signup-form-button">Sign Up!</button> --}}
      <a href="javascript:{}" id="signup-button" onclick="signupFormHandler()" class="login-form-button m-2">Sign Up!</a>
    </div>
  </form>
</div>
<script src="/javascript/login.js"></script>
